{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1>{{ utilisateur.nom }}</h1>
    </div>
    <br>

    <div class="row, col-sm-6 offset-sm-3" id="formulaireContainer">
        <div class="row form-group offset-sm-1">
            <label for="pseudo" class="col-sm-3">Pseudo : </label>
            {{ utilisateur.pseudo }}
        </div>

        <div class="row form-group offset-sm-1">
            <label for="nom" class="col-sm-3">Nom : </label>
            {{ utilisateur.nom }}
        </div>

        <div class="row form-group offset-sm-1">
            <label for="telephone" class="col-sm-3">Prénom : </label>
            {{ utilisateur.telephone }}
        </div>

        <div class="row form-group offset-sm-1">
            <label for="mail" class="col-sm-3">E-Mail : </label>
            {{ utilisateur.mail }}
        </div>
        <div class="row form-group offset-sm-1">
            <label for="nomSite" class="col-sm-3">Site : </label>
            {{ utilisateur.site.nom }}
        </div>
    </div>

{% endblock %}

{% block title %}Mon profil{% endblock %}