{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1>Mon Profil</h1>
        <br>
    </div>
    {# Utilisation des colonnes de bootstrap#}
    <div class="row">
        <div class="image col-lg-3 col-md-3 col-sm-3 col-xs-12 mb-4 ml-4 mr-4">
            <img src="{{ asset('image/profil.jpg') }}" class="img-thumbnail rounded">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            {# Création du formulaire avec certains champs fixes #}
            {{ form_start(utilisateurForm) }}
            {{ form_widget(utilisateurForm) }}
            <br>
            <button type="submit" class="btn btn-outline-success">Enregistrer</button>
            <a href="{{ path('sortiesapp_sortie_listsorties') }}">
                <button type="button" class="btn btn-outline-danger">Annuler</button>
            </a>

            {{ form_end(utilisateurForm) }}

            {# Message flash qui informe que le profil a été modifié#}
            <div class="flashes">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>

    </div>
{% endblock %}

{% block title %}Modifier votre profil{% endblock %}