{% extends 'base.html.twig' %}
{% block title %}Créer une sortie{% endblock %}
{% block body %}
    <h1 class="text-center">Afficher une sortie </h1>
    <div class="row" id="creerSortieContainer">
        <div class="col-sm-6">
            <div class="form-group row">
                <label class="col-sm-4 offset-sm-3 col-form-label bg-light" for="nom">Nom de la sortie</label>
                <div class="col-sm-5">
                    <input type="text" id="nom" class="form-control" disabled="disabled" value="{{ sortie.nom }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 offset-sm-3 col-form-label bg-light" for="dateDebut">Date et heure de la sortie</label>
                <div class="col-sm-5">
                    <input type="text" id="dateDebut" class="form-control" disabled="disabled" value="{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 offset-sm-3 col-form-label bg-light" for="dateInscription">Date limite d'inscription</label>
                <div class="col-sm-5">
                    <input type="text" id="dateInscription" class="form-control" disabled="disabled" value="{{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 offset-sm-3 col-form-label bg-light" for="nbPlaces">Nombre de places</label>
                <div class="col-sm-5">
                    <input type="text" id="nbPlaces" class="form-control" disabled="disabled" value="{{ sortie.nbInscriptionsMax }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 offset-sm-3 col-form-label bg-light" for="duree">Durée</label>
                <div class="col-sm-5">
                    <input type="text" id="duree" class="form-control" disabled="disabled" value="{{ sortie.duree }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 offset-sm-3 col-form-label bg-light" for="infosSortie">Description et infos</label>
                <div class="col-sm-5">
                    <input type="text" id="infosSortie" class="form-control" disabled="disabled" value="{{ sortie.infosSortie }}">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group row">
                <label class="col-sm-4 offset-sm-1 col-form-label bg-light" for="villeOrganisatrice">Ville organisatrice</label>
                <div class="col-sm-5">
                    <input type="text" id="villeOrganisatrice" class="form-control" disabled="disabled" value="{{ sortie.lieu.idVille.nom }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 offset-sm-1 col-form-label bg-light" for="ville">Ville</label>
                <div class="col-sm-5">
                    <input type="text" id="ville" class="form-control" disabled="disabled" value="{{ sortie.lieu.nom }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 offset-sm-1 col-form-label bg-light" for="rue">Rue</label>
                <div class="col-sm-5">
                    <input type="text" id="rue" class="form-control" disabled="disabled" value="{{ sortie.lieu.rue }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 offset-sm-1 col-form-label bg-light" for="codePostal">Code postal</label>
                <div class="col-sm-5">
                    <input type="text" id="codePostal" class="form-control" disabled="disabled" value="{{ sortie.lieu.idVille.codePostal }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 offset-sm-1 col-form-label bg-light" for="latitude">Latitude</label>
                <div class="col-sm-5">
                    <input type="text" id="latitude" class="form-control" disabled="disabled" value="{{ sortie.lieu.latitude }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 offset-sm-1 col-form-label bg-light" for="longitude">Longitude</label>
                <div class="col-sm-5">
                    <input type="text" id="longitude" class="form-control" disabled="disabled" value="{{ sortie.lieu.longitude }}">
                </div>
            </div>
        </div>
        <div class="col-sm-6 row">
            <div class="col-sm-8 offset-sm-3">
                <br>
                <h3>Liste des participants inscrits</h3>
                <div id="inscriptionsTable">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Nom</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in sortie.utilisateurs %}
                            <tr onclick="window.location='{{ path("utilisateur_detailProfil", {"id" : user.id })}}'">
                                <td>{{ user.pseudo }}</td>
                                <td>{{ user.prenom }} {{ user.nom}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class=col-sm-6" id="btnBackModifierSortie">
            <a href="{{ path('sortiesapp_sortie_listsorties')}}" class="btn btn-outline-warning btn-lg">Retour</a>
        </div>
    </div>
{% endblock %}
