{% extends 'base.html.twig' %}
{% form_theme form '/themes/form_errors.html.twig' %}
{% block title %}Créer une sortie{% endblock %}
{% block body %}
    <h1 class="text-center">Créer une sortie</h1>
    <div class="row">
        <div class="col-sm-6">
            {{ form_start(form) }}
            <div class="form-group row">
                {{ form_label(form.nom, null, {'label_attr': {'class': 'col-sm-3 offset-sm-2 col-form-label'}}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.dateHeureDebut, null, {'label_attr': {'class': 'col-sm-3 offset-sm-2 col-form-label'}}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.dateHeureDebut, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.dateLimiteInscription, null, {'label_attr': {'class': 'col-sm-3 offset-sm-2 col-form-label'}}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.dateLimiteInscription, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.nbInscriptionsMax, null, {'label_attr': {'class': 'col-sm-3 offset-sm-2 col-form-label'}}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.nbInscriptionsMax, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.duree, null, {'label_attr': {'class': 'col-sm-3 offset-sm-2 col-form-label'}}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.duree, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.infosSortie, null, {'label_attr': {'class': 'col-sm-3 offset-sm-2 col-form-label'}}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.infosSortie, {'attr': {'class': 'form-control', 'rows': 4}}) }}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group row">
                <label for="villeOrganisatrice" class="col-sm-3 offset-sm-1 col-form-label">Ville organisatrice</label>
                <div class="col-sm-6">
                    <input id="villeOrganisatrice" type="text" class="form-control" readonly value="TEST">
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.villes, null, {'label_attr': {'class': 'col-sm-3 offset-sm-1 col-form-label'}}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.villes, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.idLieu, null, {'label_attr': {'class': 'col-sm-3 offset-sm-1 col-form-label'}}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.idLieu, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div for="rue" class="form-group row">
                <label class="col-sm-3 offset-sm-1 col-form-label">Rue</label>
                <div class="col-sm-6">
                    <input id="rue" type="text" class="form-control" readonly value="TEST">
                </div>
            </div>
            <div class="form-group row">
                <label for="codePostal" class="col-sm-3 offset-sm-1 col-form-label">Code postal</label>
                <div class="col-sm-6">
                    <input id="codePostal" type="text" class="form-control" readonly value="TEST">
                </div>
            </div>
            <div class="form-group row">
                <label for="latitude" class="col-sm-3 offset-sm-1 col-form-label">Latitude</label>
                <div class="col-sm-6">
                    <input id="latitude" type="text" class="form-control" readonly value="TEST">
                </div>
            </div>
            <div class="form-group row">
                <label for="longitude" class="col-sm-3 offset-sm-1 col-form-label">Longitude</label>
                <div class="col-sm-6">
                    <input id="longitude" type="text" class="form-control" readonly value="TEST">
                </div>
            </div>
        </div>
        <div id="errorMsg" class="col-sm-12 text-center">
            {{ form_errors(form, {'attr': {'class': 'form-control'}})}}
        </div>
        <div id="creerSortie-btnGroupe">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-outline-secondary'}}) }}
            {{ form_widget(form.publish, {'attr': {'class': 'btn btn-outline-secondary'}}) }}
            <a href="#" class="btn btn-outline-danger">Annuler</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
