<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ asset('image/sortir.png') }}">
    <link rel="icon" href=" {{ asset('image/user.jpg') }} ">
    <title>{% block title %}Sortir.com{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="container">


    <nav   class="navbar navbar-dark bg-dark">
        <header>
            <a class="site-title" href="{{ path('sortiesapp_sortie_listsorties') }}" title="SORTIR.COM | Accueil">
                <img class="imageSortir" src="{{ asset('image/sortir.png') }}" alt="SORTIR.COM" width="100" height="100">
                <img class="imageUSer" src="{{ asset('image/user.jpg') }}" width="100" height="100">
            </a>
            <nav>
                <ul>
                    {% if is_granted("ROLE_ADMIN") %}
                        <li><a href="{{ path("gererSites") }}" title="Gérer les Sites">Gérer les Sites</a></li>
                        <li><a href="{{ path("gererUtilisateurs") }}" title="Gérer les utilisateurs">Gérer les
                                utilisateurs</a></li>
                    {% endif %}
                    {% if is_granted("ROLE_USER") %}
                        <li><a href="{{ path("sortiesapp_sortie_listsorties") }}" title="SORTIR.COM | Home">Accueil</a></li>
                        <li><a href="{{ path("utilisateur_ajouter") }}#}" title="Mon profil">Mon profil</a></li>
                        <li><a href="{{ path("logout") }}" title="Logout">Logout</a></li>
                    {% endif %}

                </ul>
            </nav>
        </header>
    </nav>
    <main>
        <div class="flashes">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show"  role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% block main %}{% endblock %}

    </main>

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}

    <footer>
        <hr>
        <div class="text-center"> © {{ "now"|date("Y") }} Sortir.com</div>
    </footer>

</div>
</body>
</html>
