{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center" id="modifierSiteContainer">Ajouter un nouveau site</h1>
    <div class="row" id="modifierSiteContainer">
        <div class="col-sm-6 offset-2">
            {{ form_start(ajouterForm) }}
            <div class="form-group row">
                {{ form_label(ajouterForm.nom, null, {'label_attr': {'class': 'col-sm-3 offset-sm-3 bg-light'}}) }}
                <div class="col-sm-5 offset-sm-1">
                    {{ form_widget(ajouterForm.nom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(ajouterForm.nom) }}
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
            <div class="col-sm-4 offset-sm-5">
                <button type="submit" class="btn btn-outline-success">Enregistrer</button>
                <a href="{{ path('gererSites') }}" class="btn btn-outline-danger">Annuler</a>
            </div>
        </div>
    </div>
    {{ form_end(ajouterForm) }}


{% endblock %}

    {% block title %}

    {% endblock %}


