{% extends 'base.html.twig' %}

{% block title %}Gérer les sites | {{ parent() }}{% endblock %}

{% block body %}


    <h1 class="text-center" xmlns="http://www.w3.org/1999/html">Liste des sites organisateurs : </h1>


    <h5 class="offset-3" id="filtrerLesSites"> Filtrer les sites </h5> <
    <div class="form-group row">
        <label class="col-sm-1 offset-sm-3 t">Le nom contient :</label>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search">

                <button type="button" class="btn btn-outline-danger">Rechercher</button>
            </form>
        </nav>
    </div>
    <div class="row" id="gererSiteContainer">

        <div class="col-sm-6 offset-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Ville</th>
                    <th scope="col"></th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tr>
                    {% for site in listSite %}
                <tr>
                    <td>{{ site.nom }}
                    <td></td>
                    <td>{% if(site.isActif) %}
                            Actif
                        {% else %}
                            Inactif
                        {% endif %}
                    </td>
                    <td><a href="{{ path('_modifierSite', {'idSite': site.id}) }}">Modifier</a>
                    <td><span class="deleteLink" onclick="validateDeleteSite({{ site.id }})">Supprimer</span>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
    <div id="modifierProfil-btnGroupe ">
        <a href="{{ path('sortiesapp_sortie_listsorties') }}">
            <button type="button" class="btn btn-outline-danger offset-6">Annuler</button>
        </a>
    </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <script>
        function validateDeleteSite($idSite) {
            if (confirm("Voulez-vous vraiment supprimer ce site ?")) {
                window.location.href = "/supprimerSite/" + $idSite;
            } else {
                console.log("Annulation de la demande de suppression");
            }
        }
    </script>
{% endblock %}
