{% extends 'base.html.twig' %}

{% block title %}Gérer les sites | {{ parent() }}{% endblock %}

{% block body %}


    <h1 class="text-center" >Liste des sites organisateurs : </h1>


    <h5 class="offset-3" id="filtrerLesSites"> Filtrer les sites </h5> <
    <div class="form-group row ">
        <label id="labelLeNomContient" class="col-sm-1 offset-sm-3 col-form-label">Le nom contient :</label>
        <div class="form-group row ">
            <form class="form-inline">
                <input class="form-control mr-sm-5" type="search">
                <button type="submit" class="btn btn-outline-secondary">Rechercher</button>
            </form>
        </div>
    </div>
    <div class="row" id="gererSiteContainer">

        <div class="col-sm-6 offset-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Ville</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tr>
                    {% for site in listSite %}
                <tr>
                    <td>{{ site.nom }}
                    <td>{% if(site.isActif) %}
                            Actif
                        {% else %}
                            Inactif
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('_modifierSite', {'idSite': site.id}) }}">Modifier</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>

    <div id="modifierProfil-btnGroupe ">

        <a href="{{ path('_ajouterSite') }}">
            <button type="button" class="btn btn-outline-success offset-3"> Ajouter</button>
        </a>

        <a href="{{ path('sortiesapp_sortie_listsorties') }}">
            <button type="button" class="btn btn-outline-danger offset-5">Annuler</button>
        </a>
    </div>


{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <script>
        function validateDeleteSite($idSite) {
            if (confirm("Voulez-vous vraiment supprimer ce site ?")) {
                window.location.href = "/supprimerSite/" + $idSite;
            } else {
                console.log("Annulation de la demande de suppression");
            }
        }
    </script>
{% endblock %}
