{% extends 'base.html.twig' %}

{% block title %}Gérer les sites | {{ parent() }}{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1 class="text-center">Liste des sites organisateurs : </h1>
        <br>
        <br>
        <br>
        <table class=" offset-4" border="1">
        {% for site in listSite %}
            <tr>
                <td>{{ site.nom }}
                <td>{% if(site.isActif) %}
                        Actif
                    {% else %}
                        Inactif
                    {% endif %}
                </td>
                <td><a href="{{ path('_modifierSite', {'idSite': site.id}) }}">Modifier</a>
                <td><span class="deleteLink" onclick="validateDeleteSite({{ site.id }})">Supprimer</span>
                </td>

            </tr>
        {% endfor %}
        </table>
        <br>
        <div id="modifierProfil-btnGroupe ">
            <a href="{{ path('sortiesapp_sortie_listsorties') }}">
                <button type="button" class="btn btn-outline-danger offset-5">Annuler</button>
            </a>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <script>
        function validateDeleteSite($idSite) {
            if (confirm("Voulez-vous vraiment supprimer ce site ?")) {
                window.location.href = "/supprimerSite/" + $idSite;
            } else {
                console.log("Annulation de la demande de suppression");
            }
        }
    </script>
{% endblock %}
