{% extends 'base.html.twig' %}

{% block body %}
<div>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
        {{ form_errors(form.nom) }}
    </div>

    <button type="submit"> valider</button>
    {{ form_end(form) }}


</div>

{% endblock %}